---
import Layout from '~/layouts/PageLayout.astro';

import Header from '~/components/widgets/Header.astro';
import Hero from '~/components/widgets/Hero.astro';
import Content from '~/components/widgets/Content.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Steps from '~/components/widgets/Steps.astro';

const metadata = {
  title: 'Rogério Pontes',
};
---

<Layout metadata={metadata}>
  <Fragment slot="announcement"></Fragment>
  <Fragment slot="header">
    <Header
      links={[
        { text: 'Home', href: '#' },
        { text: 'About', href: '#about' },
        { text: 'Resume', href: '#resume' },
        { text: 'Services', href: '#services' },
        { text: 'Hire me', href: '#hire' },
      ]}
      isSticky
      showToggleTheme
    />
  </Fragment>

  <!-- Hero2 Widget ******************* -->

  <Hero
    id="hero"
    title="Rogério Pontes"
    tagline="Security Engineer & Privacy Researcher"
    actions={[{ variant: "primary", target: '_blank', text: 'Let\'s Talk', href: 'mailto:rpontes.business@outlook.com?subject=Security opurtunity for <Your Company Name>' }]}
  >
    <Fragment slot="subtitle">
      Security engineer with a Ph.D. in computer science. My experties are in cloud security, cryptography, and data privacy. I combine academic research with an attacker mindset to reduce risk.
    </Fragment>
  </Hero>

  <!-- Content Widget **************** -->

  <Content
    id="about"
    columns={3}
    items={[
      {
        icon: 'tabler:brand-linkedin',
        callToAction: {
          target: '_blank',
          text: 'LinkedIn',
          href: 'https://www.linkedin.com/in/rogerioacp',
        },
      },
      {
        icon: 'tabler:brand-github',
        callToAction: {
          target: '_blank',
          text: 'GitHub',
          href: 'https://github.com/rogerioacp',
        },
      },
      {
        icon: 'tabler:mail',
        callToAction: {
          target: '_blank',
          text: 'Substack',
          href: 'https://rogeriopontes.substack.com/',
        },
      },
    ]}
    image={{
      src: '~/assets/images/rp_small.jpg',
      alt: 'Colorful Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">About me</h3>
      <p>
        With 10+ years of experience in security, I connect scientific research with industry needs. My passion lies in showing that security serves as a catalyst for growth and innovation, rather than a bottleneck for organizations. I have over 10 scientific publications on data privacy, cryptography, and distributed systems.
      </p>
      <br />
      <p>
        I provide consulting services in cyber security strategy, cloud security, review of cryptographic protocol, and data privacy.
      </p>
      <br />
      <p>
        If you're interested in working together, contact me on LinkedIn.
      </p>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Steps Widget ****************** -->

  <Steps
    id="resume"
    title="Resume"
    items={
    [
    {
        title:
          'Co-Founder <br /> <span class="font-normal">InvisibleSec, Braga, PT</span> <br /> <span class="text-sm font-normal">2023 - Present</span>',
        description: `Co-founder of a security venture that specializes in Web 3.0 safety, analysis of cryptographic protocols, and cloud security.`,
        icon: 'tabler:briefcase',
      },
      {
        title:
          'Security Engineer <br /> <span class="font-normal">AutoScout24, Munich, DE</span> <br /> <span class="text-sm font-normal">2020 - Present</span>',
        description: `As a security engineer, I led the design, project planning, and development of multiple security solutions. This included implementing a cloud security management solution, creating a ransomware-resilient disaster recovery backup system, developing an incident response system, implementing email phishing protection measures (DMARC), and facilitating the merge and acquisition of new companies. I also played a key role in establishing team culture, recruiting and training new engineers.`,
        icon: 'tabler:briefcase',
      },
      {
        title:
          'Scientific Researcher <br /> <span class="font-normal">INESC TEC, Braga, PT</span> <br /> <span class="text-sm font-normal">2014 - 2020</span>',
        description: `As a researcher, I have been involved in national and European research projects. My work includes designing and implementing privacy-preserving cloud solutions, which have resulted in four peer-reviewed papers. Additionally, I have contributed to projects with social impact, such as a social network for cancer patients and the national COVID tracking app. I have also supervised and guided master's dissertations to successful completion.`,
        icon: 'tabler:briefcase',
      },
      {
        title: `Ph.D. in Computer Science <br /> <span class="font-normal">University of Porto</span> <br /> <span class="text-sm font-normal">2015 - 2020</span>`,
        icon: 'tabler:school',
      }
    ]}
    classes={{ container: 'max-w-3xl' }}
  />
  <!-- Services Widget -->
  <Features2
    id="services"
    title="Consulting Services"
    subtitle="I advise organizations on cyber security strategy, reducing security risks and provide technical audits of cryptographic protocols and cloud solutions."
    items={[
      {
        title: 'Cyber Security Strategy',
        description:
            'Help organizations proactively mitigate emerging threats and identify their primary security vulnerabilities by leveraging cutting-edge research and insights.',
        icon: 'flat-color-icons:idea',
      },
      {
        title: 'Cloud Security Audit',
        description:
            'Deliver a thorough and customized assessment of your cloud assets, utilizing industry-leading benchmarks to ensure optimal coverage and security.',
        icon: 'flat-color-icons:mind-map',
      },
      {
        title: 'Cryptography Audit',
        description:
            'Perform comprehensive security audits to ensure the correctness and security of cryptographic protocols in privacy-aware databases, Web 3.0, and distributed systems.',
        icon: 'flat-color-icons:data-encryption',
      },
    ]}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Features2>

  <!-- CallToAction Widget *********** -->

  <CallToAction
    id="hire"
    title="Let's work together"
    subtitle="If you need a solution to your problem, I will help you find it!"
    actions={[{
      variant:"primary",
      text: 'Let\'s Talk',
      href: 'mailto:rpontes.business@outlook.com?subject=Security opurtunity for <Your Company Name>' ,
    }]}
  />

</Layout>
