---
import { SITE } from '~/utils/config';
---

<span class="self-center ml-2 rtl:ml-0 rtl:mr-2 text-2xl md:text-xl font-bold whitespace-nowrap dark:text-white">
  <span class="text-primary">R</span><span class="text-gray-900 dark:text-white">P</span>
</span>
